@import "tailwindcss";

:root {
  --header-height: 4rem;

  --color-background: rgb(0, 0, 0);
  --color-foreground: rgb(255, 255, 255);

  --color-muted: #888;
  --color-primary: rgba(255, 255, 255, 1);
  --color-hover: rgba(255, 255, 255, 0.65);

  --color-bg-primary: rgba(255, 255, 255, 0.04);

  --color-overlay: rgba(0, 0, 0, 0.5);

  --color-border: rgba(255, 255, 255, 0.1);

  --color-secondary: rgb(10, 10, 10);
}

[data-theme="light"] {
  --color-background: rgb(255, 255, 255);
  --color-foreground: rgb(0, 0, 0);

  --color-muted: rgba(0, 0, 0, 0.2);
  --color-primary: rgba(0, 0, 0, 1);
  --color-hover: rgba(0, 0, 0, 0.65);

  --color-bg-primary: rgba(0, 0, 0, 0.04);

  --color-overlay: rgba(255, 255, 255, 0.5);

  --color-border: rgba(0, 0, 0, 0.1);

  --color-secondary: rgb(245, 245, 245);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: "Geist", sans-serif;
  font-size: 0.875rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
